# 1. What's Text Mining ?

Text mining, also known as text data mining, is the process of transforming unstructured text into a structured format to identify meaningful patterns and new insights. You can use text mining to analyze vast collections of textual materials to capture key concepts, trends and hidden relationships.
Link: https://www.ibm.com/topics/text-mining

# 2. Processing

## 1. Preprocessing
## 2. Document Representation
## 3. Association Rule Mining
## 4. Rule Generation
## 5. Rule Evaluation and Selection
## 6. Interpretation and Visualization
## 7. Application

Link: https://arxiv.org/ftp/arxiv/papers/1009/1009.4582.pdf

# 3. Demo

## 1. Read Data

In [248]:
list_word = []

In [249]:
with open('data.txt','r') as f:
    info_temp = f.read()

In [250]:
list_word = info_temp.split(' ')

In [251]:
print(list_word)

['The', 'Ho', 'Chi', 'Minh', 'City', 'University', 'of', 'Technology', 'and', 'Education', 'HCMUTE', 'stands', 'beacon', 'of', 'academic', 'excellence', 'in', 'Vietnam', 'Established', 'in', '1957', 'the', 'Ho', 'Chi', 'Minh', 'City', 'Pedagogical', 'University', 'its', 'transformation', 'into', 'HCMUTE', 'in', '2006', 'marked', 'significant', 'milestone', 'in', 'its', 'journey', 'Situated', 'in', 'the', 'bustling', 'metropolis', 'of', 'Ho', 'Chi', 'Minh', 'City', 'the', "university's", 'campus', 'in', 'Thu', 'Duc', 'District', 'serves', 'vibrant', 'hub', 'for', 'learning', 'and', 'innovation', 'Offering', 'diverse', 'array', 'of', 'undergraduate', 'and', 'graduate', 'programs', 'HCMUTE', 'specializes', 'in', 'engineering', 'technology', 'and', 'education', 'From', 'mechanical', 'engineering', 'to', 'computer', 'science', 'civil', 'engineering', 'to', 'architecture', 'and', 'education', 'management', 'the', 'university', 'caters', 'to', 'wide', 'spectrum', 'of', 'academic', 'interests', 'Research', 'and', 'innovation', 'form', 'the', 'cornerstone', 'of', "HCMUTE's", 'mission', 'With', 'state-of-the-art', 'facilities', 'and', 'collaborative', 'partnerships', 'with', 'industry', 'and', 'government', 'entities', 'the', 'university', 'fosters', 'an', 'environment', 'conducive', 'to', 'groundbreaking', 'research']

# 2. Creating Itemsets

## Using combination in math to find all.

In [252]:
from itertools import combinations

In [253]:
transaction = []
for i in range(1,5):
    comb = combinations(list_word, i)
    transaction += list(comb)

In [254]:
print(transaction[800:1000])

[('University', 'in'), ('University', 'the'), ('University', 'bustling'), ('University', 'metropolis'), ('University', 'of'), ('University', 'Ho'), ('University', 'Chi'), ('University', 'Minh'), ('University', 'City'), ('University', 'the'), ('University', "university's"), ('University', 'campus'), ('University', 'in'), ('University', 'Thu'), ('University', 'Duc'), ('University', 'District'), ('University', 'serves'), ('University', 'vibrant'), ('University', 'hub'), ('University', 'for'), ('University', 'learning'), ('University', 'and'), ('University', 'innovation'), ('University', 'Offering'), ('University', 'diverse'), ('University', 'array'), ('University', 'of'), ('University', 'undergraduate'), ('University', 'and'), ('University', 'graduate'), ('University', 'programs'), ('University', 'HCMUTE'), ('University', 'specializes'), ('University', 'in'), ('University', 'engineering'), ('University', 'technology'), ('University', 'and'), ('University', 'education'), ('University', 'From'), ('University', 'mechanical'), ('University', 'engineering'), ('University', 'to'), ('University', 'computer'), ('University', 'science'), ('University', 'civil'), ('University', 'engineering'), ('University', 'to'), ('University', 'architecture'), ('University', 'and'), ('University', 'education'), ('University', 'management'), ('University', 'the'), ('University', 'university'), ('University', 'caters'), ('University', 'to'), ('University', 'wide'), ('University', 'spectrum'), ('University', 'of'), ('University', 'academic'), ('University', 'interests'), ('University', 'Research'), ('University', 'and'), ('University', 'innovation'), ('University', 'form'), ('University', 'the'), ('University', 'cornerstone'), ('University', 'of'), ('University', "HCMUTE's"), ('University', 'mission'), ('University', 'With'), ('University', 'state-of-the-art'), ('University', 'facilities'), ('University', 'and'), ('University', 'collaborative'), ('University', 'partnerships'), ('University', 'with'), ('University', 'industry'), ('University', 'and'), ('University', 'government'), ('University', 'entities'), ('University', 'the'), ('University', 'university'), ('University', 'fosters'), ('University', 'an'), ('University', 'environment'), ('University', 'conducive'), ('University', 'to'), ('University', 'groundbreaking'), ('University', 'research'), ('of', 'Technology'), ('of', 'and'), ('of', 'Education'), ('of', 'HCMUTE'), ('of', 'stands'), ('of', 'beacon'), ('of', 'of'), ('of', 'academic'), ('of', 'excellence'), ('of', 'in'), ('of', 'Vietnam'), ('of', 'Established'), ('of', 'in'), ('of', '1957'), ('of', 'the'), ('of', 'Ho'), ('of', 'Chi'), ('of', 'Minh'), ('of', 'City'), ('of', 'Pedagogical'), ('of', 'University'), ('of', 'its'), ('of', 'transformation'), ('of', 'into'), ('of', 'HCMUTE'), ('of', 'in'), ('of', '2006'), ('of', 'marked'), ('of', 'significant'), ('of', 'milestone'), ('of', 'in'), ('of', 'its'), ('of', 'journey'), ('of', 'Situated'), ('of', 'in'), ('of', 'the'), ('of', 'bustling'), ('of', 'metropolis'), ('of', 'of'), ('of', 'Ho'), ('of', 'Chi'), ('of', 'Minh'), ('of', 'City'), ('of', 'the'), ('of', "university's"), ('of', 'campus'), ('of', 'in'), ('of', 'Thu'), ('of', 'Duc'), ('of', 'District'), ('of', 'serves'), ('of', 'vibrant'), ('of', 'hub'), ('of', 'for'), ('of', 'learning'), ('of', 'and'), ('of', 'innovation'), ('of', 'Offering'), ('of', 'diverse'), ('of', 'array'), ('of', 'of'), ('of', 'undergraduate'), ('of', 'and'), ('of', 'graduate'), ('of', 'programs'), ('of', 'HCMUTE'), ('of', 'specializes'), ('of', 'in'), ('of', 'engineering'), ('of', 'technology'), ('of', 'and'), ('of', 'education'), ('of', 'From'), ('of', 'mechanical'), ('of', 'engineering'), ('of', 'to'), ('of', 'computer'), ('of', 'science'), ('of', 'civil'), ('of', 'engineering'), ('of', 'to'), ('of', 'architecture'), ('of', 'and'), ('of', 'education'), ('of', 'management'), ('of', 'the'), ('of', 'university'), ('of', 'caters'), ('of', 'to'), ('of', 'wide'), ('of', 'spectrum'), ('of', 'of'), ('of', 'academic'), ('of', 'interests'), ('of', 'Research'), ('of', 'and'), ('of', 'innovation'), ('of', 'form'), ('of', 'the'), ('of', 'cornerstone'), ('of', 'of'), ('of', "HCMUTE's"), ('of', 'mission'), ('of', 'With'), ('of', 'state-of-the-art'), ('of', 'facilities'), ('of', 'and'), ('of', 'collaborative'), ('of', 'partnerships'), ('of', 'with'), ('of', 'industry')]

In [255]:
len(transaction)

11725155

In [256]:
from mlxtend.preprocessing import TransactionEncoder
import pandas as pd
te = TransactionEncoder()
te_ary = te.fit(transaction).transform(transaction)
dataset = pd.DataFrame(te_ary, columns=te.columns_)
dataset.head()

,1957,2006,Chi,City,District,Duc,Education,Established,From,HCMUTE,...,technology,the,to,transformation,undergraduate,university,university's,vibrant,wide,with
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [257]:
dataset.shape

(11725155, 86)

In [258]:
dataset_2=dataset[0:10000:]

In [259]:
dataset_2.shape

(10000, 86)

# 3.Using Apriori in mlxtend:

In [260]:
from mlxtend.frequent_patterns import apriori, association_rules
frequent_itemsets = apriori(dataset_2, min_support=0.001, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets[0:5:]

   support    itemsets  length
0   0.0143      (1957)       1
1   0.0142      (2006)       1
2   0.0538       (Chi)       1
3   0.0538      (City)       1
4   0.0142  (District)       1

In [261]:
frequent_itemsets[ (frequent_itemsets['length'] == 2) &
                   (frequent_itemsets['support'] >= 0.003) ]

     support            itemsets  length
92    0.0154          (The, Chi)       2
94    0.0034          (and, Chi)       2
103   0.0154         (The, City)       2
105   0.0034         (and, City)       2
113   0.0129    (The, Education)       2
122   0.0153       (The, HCMUTE)       2
124   0.0034       (and, HCMUTE)       2
132   0.0154           (Ho, The)       2
134   0.0034           (and, Ho)       2
140   0.0154         (The, Minh)       2
142   0.0034         (and, Minh)       2
152   0.0129   (The, Technology)       2
158   0.0142   (The, University)       2
163   0.0213          (and, The)       2
166   0.0129       (The, beacon)       2
177   0.0039  (The, engineering)       2
189   0.0093           (The, in)       2
203   0.0204           (of, The)       2
212   0.0129       (stands, The)       2
215   0.0079          (The, the)       2
216   0.0052           (The, to)       2
236   0.0063           (and, in)       2
239   0.0061           (and, of)       2
241   0.0054          (and, the)       2
242   0.0036           (and, to)       2
256   0.0051            (of, in)       2
258   0.0042           (in, the)       2
266   0.0043           (of, the)       2

# 4. Khai phá luật kết hợp

In [262]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.2)
rules["antecedents_length"] = rules["antecedents"].apply(lambda x: len(x))
rules["consequents_length"] = rules["consequents"].apply(lambda x: len(x))
rules.sort_values("lift",ascending=False)[["antecedents","consequents","antecedent support","consequent support","support","confidence","lift"]][0:5:]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift
252,(stands),(The),0.0258,0.1615,0.0129,0.500000,3.095975
253,(The),(stands),0.1615,0.0258,0.0129,0.079876,3.095975
132,(The),(Technology),0.1615,0.0258,0.0129,0.079876,3.095975
160,(The),(beacon),0.1615,0.0258,0.0129,0.079876,3.095975
133,(Technology),(The),0.0258,0.1615,0.0129,0.500000,3.095975

In [263]:
rules.sort_values("confidence",ascending=False)[["antecedents","consequents","antecedent support","consequent support","support","confidence","lift"]][0:5:]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift
161,(beacon),(The),0.0258,0.1615,0.0129,0.50000,3.095975
55,(Education),(The),0.0258,0.1615,0.0129,0.50000,3.095975
133,(Technology),(The),0.0258,0.1615,0.0129,0.50000,3.095975
252,(stands),(The),0.0258,0.1615,0.0129,0.50000,3.095975
145,(University),(The),0.0399,0.1615,0.0142,0.35589,2.203652

In [264]:
rules.shape

(408, 12)

# 4. Application

In [265]:
rules_a = rules.sort_values("confidence",ascending=False)[["antecedents","consequents","antecedent support","consequent support","support","confidence","lift"]]

In [266]:
rules_a[["antecedents","consequents"]].head()

      antecedents consequents
161      (beacon)       (The)
55    (Education)       (The)
133  (Technology)       (The)
252      (stands)       (The)
145  (University)       (The)

In [267]:
rules_list = []
for rows in rules.itertuples(): 
    x = str(rows.antecedents).strip("frozenset").strip(")(}{'")
    y = str(rows.consequents).strip("frozenset").strip(")(}{'")
    my_list =[x, y]
    rules_list.append(my_list)

In [268]:
print(rules_list)

[['1957', 'The'], ['The', '1957'], ['The', '2006'], ['2006', 'The'], ['City', 'Chi'], ['Chi', 'City'], ['HCMUTE', 'Chi'], ['Chi', 'HCMUTE'], ['Ho', 'Chi'], ['Chi', 'Ho'], ['Minh', 'Chi'], ['Chi', 'Minh'], ['The', 'Chi'], ['Chi', 'The'], ['University', 'Chi'], ['Chi', 'University'], ['and', 'Chi'], ['Chi', 'and'], ['engineering', 'Chi'], ['Chi', 'engineering'], ['in', 'Chi'], ['Chi', 'in'], ['of', 'Chi'], ['Chi', 'of'], ['Chi', 'the'], ['the', 'Chi'], ['Chi', 'to'], ['to', 'Chi'], ['City', 'HCMUTE'], ['HCMUTE', 'City'], ['Ho', 'City'], ['City', 'Ho'], ['City', 'Minh'], ['Minh', 'City'], ['The', 'City'], ['City', 'The'], ['City', 'University'], ['University', 'City'], ['and', 'City'], ['City', 'and'], ['City', 'engineering'], ['engineering', 'City'], ['in', 'City'], ['City', 'in'], ['of', 'City'], ['City', 'of'], ['City', 'the'], ['the', 'City'], ['City', 'to'], ['to', 'City'], ['District', 'The'], ['The', 'District'], ['Duc', 'The'], ['The', 'Duc'], ['The', 'Education'], ['Education', 'The'], ['and', 'Education'], ['Education', 'and'], ['in', 'Education'], ['Education', 'in'], ['of', 'Education'], ['Education', 'of'], ['Education', 'the'], ['the', 'Education'], ['Established', 'The'], ['The', 'Established'], ['From', 'The'], ['The', 'From'], ['Ho', 'HCMUTE'], ['HCMUTE', 'Ho'], ['HCMUTE', 'Minh'], ['Minh', 'HCMUTE'], ['The', 'HCMUTE'], ['HCMUTE', 'The'], ['HCMUTE', 'University'], ['University', 'HCMUTE'], ['and', 'HCMUTE'], ['HCMUTE', 'and'], ['HCMUTE', 'engineering'], ['engineering', 'HCMUTE'], ['in', 'HCMUTE'], ['HCMUTE', 'in'], ['of', 'HCMUTE'], ['HCMUTE', 'of'], ['HCMUTE', 'the'], ['the', 'HCMUTE'], ['HCMUTE', 'to'], ['to', 'HCMUTE'], ['"HCMUTE\'s"', 'The'], ['The', '"HCMUTE\'s"'], ['Ho', 'Minh'], ['Minh', 'Ho'], ['Ho', 'The'], ['The', 'Ho'], ['Ho', 'University'], ['University', 'Ho'], ['and', 'Ho'], ['Ho', 'and'], ['Ho', 'engineering'], ['engineering', 'Ho'], ['Ho', 'in'], ['in', 'Ho'], ['Ho', 'of'], ['of', 'Ho'], ['Ho', 'the'], ['the', 'Ho'], ['Ho', 'to'], ['to', 'Ho'], ['The', 'Minh'], ['Minh', 'The'], ['Minh', 'University'], ['University', 'Minh'], ['and', 'Minh'], ['Minh', 'and'], ['Minh', 'engineering'], ['engineering', 'Minh'], ['in', 'Minh'], ['Minh', 'in'], ['of', 'Minh'], ['Minh', 'of'], ['Minh', 'the'], ['the', 'Minh'], ['Minh', 'to'], ['to', 'Minh'], ['Offering', 'The'], ['The', 'Offering'], ['The', 'Pedagogical'], ['Pedagogical', 'The'], ['Research', 'The'], ['The', 'Research'], ['The', 'Situated'], ['Situated', 'The'], ['The', 'Technology'], ['Technology', 'The'], ['and', 'Technology'], ['Technology', 'and'], ['in', 'Technology'], ['Technology', 'in'], ['of', 'Technology'], ['Technology', 'of'], ['Technology', 'the'], ['the', 'Technology'], ['The', 'Thu'], ['Thu', 'The'], ['The', 'University'], ['University', 'The'], ['The', 'Vietnam'], ['Vietnam', 'The'], ['The', 'With'], ['With', 'The'], ['The', 'academic'], ['academic', 'The'], ['an', 'The'], ['The', 'an'], ['and', 'The'], ['The', 'and'], ['The', 'architecture'], ['architecture', 'The'], ['The', 'array'], ['array', 'The'], ['The', 'beacon'], ['beacon', 'The'], ['The', 'bustling'], ['bustling', 'The'], ['The', 'campus'], ['campus', 'The'], ['The', 'caters'], ['caters', 'The'], ['The', 'civil'], ['civil', 'The'], ['The', 'collaborative'], ['collaborative', 'The'], ['computer', 'The'], ['The', 'computer'], ['The', 'conducive'], ['conducive', 'The'], ['The', 'cornerstone'], ['cornerstone', 'The'], ['The', 'diverse'], ['diverse', 'The'], ['education', 'The'], ['The', 'education'], ['The', 'engineering'], ['engineering', 'The'], ['entities', 'The'], ['The', 'entities'], ['environment', 'The'], ['The', 'environment'], ['excellence', 'The'], ['The', 'excellence'], ['facilities', 'The'], ['The', 'facilities'], ['The', 'for'], ['for', 'The'], ['The', 'form'], ['form', 'The'], ['The', 'fosters'], ['fosters', 'The'], ['The', 'government'], ['government', 'The'], ['The', 'graduate'], ['graduate', 'The'], ['groundbreaking', 'The'], ['The', 'groundbreaking'], ['The', 'hub'], ['hub', 'The'], ['The', 'in'], ['in', 'The'], ['The', 'industry'], ['industry', 'The'], ['innovation', 'The'], ['The', 'innovation'], ['interests', 'The'], ['The', 'interests'], ['The', 'into'], ['into', 'The'], ['its', 'The'], ['The', 'its'], ['The', 'journey'], ['journey', 'The'], ['learning', 'The'], ['The', 'learning'], ['The', 'management'], ['management', 'The'], ['The', 'marked'], ['marked', 'The'], ['The', 'mechanical'], ['mechanical', 'The'], ['metropolis', 'The'], ['The', 'metropolis'], ['The', 'milestone'], ['milestone', 'The'], ['The', 'mission'], ['mission', 'The'], ['of', 'The'], ['The', 'of'], ['partnerships', 'The'], ['The', 'partnerships'], ['The', 'programs'], ['programs', 'The'], ['research', 'The'], ['The', 'research'], ['The', 'science'], ['science', 'The'], ['serves', 'The'], ['The', 'serves'], ['The', 'significant'], ['significant', 'The'], ['specializes', 'The'], ['The', 'specializes'], ['spectrum', 'The'], ['The', 'spectrum'], ['stands', 'The'], ['The', 'stands'], ['The', 'state-of-the-art'], ['state-of-the-art', 'The'], ['technology', 'The'], ['The', 'technology'], ['The', 'the'], ['the', 'The'], ['The', 'to'], ['to', 'The'], ['The', 'transformation'], ['transformation', 'The'], ['The', 'undergraduate'], ['undergraduate', 'The'], ['university', 'The'], ['The', 'university'], ['"university\'s"', 'The'], ['The', '"university\'s"'], ['The', 'vibrant'], ['vibrant', 'The'], ['The', 'wide'], ['wide', 'The'], ['The', 'with'], ['with', 'The'], ['and', 'University'], ['University', 'and'], ['in', 'University'], ['University', 'in'], ['of', 'University'], ['University', 'of'], ['University', 'the'], ['the', 'University'], ['University', 'to'], ['to', 'University'], ['and', 'academic'], ['academic', 'and'], ['in', 'academic'], ['academic', 'in'], ['of', 'academic'], ['academic', 'of'], ['the', 'academic'], ['academic', 'the'], ['and', 'beacon'], ['beacon', 'and'], ['education', 'and'], ['and', 'education'], ['and', 'engineering'], ['engineering', 'and'], ['and', 'in'], ['in', 'and'], ['and', 'innovation'], ['innovation', 'and'], ['its', 'and'], ['and', 'its'], ['and', 'of'], ['of', 'and'], ['stands', 'and'], ['and', 'stands'], ['and', 'the'], ['the', 'and'], ['and', 'to'], ['to', 'and'], ['and', 'university'], ['university', 'and'], ['in', 'beacon'], ['beacon', 'in'], ['of', 'beacon'], ['beacon', 'of'], ['beacon', 'the'], ['the', 'beacon'], ['education', 'in'], ['in', 'education'], ['education', 'of'], ['of', 'education'], ['education', 'the'], ['the', 'education'], ['in', 'engineering'], ['engineering', 'in'], ['of', 'engineering'], ['engineering', 'of'], ['engineering', 'the'], ['the', 'engineering'], ['engineering', 'to'], ['to', 'engineering'], ['innovation', 'in'], ['in', 'innovation'], ['its', 'in'], ['in', 'its'], ['of', 'in'], ['in', 'of'], ['stands', 'in'], ['in', 'stands'], ['in', 'the'], ['the', 'in'], ['in', 'to'], ['to', 'in'], ['university', 'in'], ['in', 'university'], ['innovation', 'of'], ['of', 'innovation'], ['innovation', 'the'], ['the', 'innovation'], ['its', 'of'], ['of', 'its'], ['its', 'the'], ['the', 'its'], ['stands', 'of'], ['of', 'stands'], ['of', 'the'], ['the', 'of'], ['of', 'to'], ['to', 'of'], ['university', 'of'], ['of', 'university'], ['stands', 'the'], ['the', 'stands'], ['the', 'to'], ['to', 'the'], ['university', 'the'], ['the', 'university'], ["and', 'The", 'Chi'], ["and', 'Chi", 'The'], ["The', 'Chi", 'and'], ['and', "The', 'Chi"], ['The', "and', 'Chi"], ['Chi', "and', 'The"], ["and', 'The", 'City'], ["and', 'City", 'The'], ["The', 'City", 'and'], ['and', "The', 'City"], ['The', "and', 'City"], ['City', "and', 'The"], ["and', 'The", 'HCMUTE'], ["and', 'HCMUTE", 'The'], ["The', 'HCMUTE", 'and'], ['and', "The', 'HCMUTE"], ['The', "and', 'HCMUTE"], ['HCMUTE', "and', 'The"], ["and', 'The", 'Ho'], ["and', 'Ho", 'The'], ["Ho', 'The", 'and'], ['and', "Ho', 'The"], ['The', "and', 'Ho"], ['Ho', "and', 'The"], ["and', 'The", 'Minh'], ["and', 'Minh", 'The'], ["The', 'Minh", 'and'], ['and', "The', 'Minh"], ['The', "and', 'Minh"], ['Minh', "and', 'The"], ["and', 'of", 'The'], ["and', 'The", 'of'], ["of', 'The", 'and'], ['and', "of', 'The"], ['of', "and', 'The"], ['The', "and', 'of"]]

In [303]:
text = "Ho"
dk = text
dem = 0

In [304]:
for d in range(0,3):
    t = 0
    for i in range(dem,len(rules_list)):
        if(rules_list[i][0]==dk and not(rules_list[i][1] in text)):
            dk = rules_list[i][1]
            print(dk)
            text+=" "+rules_list[i][1]
            break
        t+=1
    dem+=t

Chi
Minh
City

In [305]:
print(text)

Ho Chi Minh City